<div class="trd-contact__details">
  <h3>Contact Details</h3>
  <p>
    <strong>Trident Fly Fishing</strong><br>
    190 Riverside St Suite 9A<br>
    Portland, ME 04103
  </p>
  <p>
    Please note we are <strong>closed</strong> on all postal holidays and Dec. 24 - Jan. 2
  </p>
  <p>
    <strong>Customer Support Hours:</strong><br>
    Mon - Fri 10:00AM - 6:00PM
  </p>
  <p>
    <strong>Portland Store TEMPORARY Hours:</strong><br>
    Tues - Fri: 11:30 - 5:00PM<br>
    Can't make it? Call us to schedule an appointment
  </p>

  <ul class="trd-contact__list">
    <li>📞 <a href="tel:+18884135211">(888) 413-5211</a></li>
    <li>📱 <a href="tel:+18884135211">(888) 413-5211</a></li>
    <li>📧 <a href="mailto:support@tridentflyfishing.com">support@tridentflyfishing.com</a></li>
  </ul>
</div>

<style>
.trd-contact__details h3 {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.trd-contact__list {
  list-style: none;
  margin: 12px 0 0;
  padding: 0;
}
.trd-contact__list li {
  margin: 8px 0;
}
</style>
